@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";

:root {
  font-family: Montserrat, sans-serif;
  background-color: #1c1b22;
  color: #dddddd;
  color-scheme: dark;
}

#root {
  height: 100%;
  margin: 0;
}

.placeholder {
  font-size: 3em;
  text-align: center;
}
